/**********
COLORS
**********/
$white: #fff;
$light-grey: #f8f8f8;
$font-color: #555555;
$accent-color: #EF4135;

/*********
FONTS
**********/
$content-font: 'Merriweather', serif;
$headline-font: 'Open Sans', sans-serif;